<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Google clone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/google.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <img src="../img/google.png" alt="google image" title="image google" width="100%">
      <input type="text" name="search" value="">
      <div class="container">
        <button type="button">Google search</button>
        <button type="button">I'm feeling lucky</button>
        <a href="../index.html" title="Go home">Back to home</a>
      </div>
    </div>
  </body>
</html>
