<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/website.css" rel="stylesheet">
  </head>
  <body>
    <img src="https://avatars.githubusercontent.com/u/104874345?v=4" alt="Profile picture" title="Profile picture">
    <h1>Hi, my name is Felipe</h1>
    <h2>Fun facts about me</h2>
    <ul>
      <li>21 years old</li>
      <li>Based in Bogotá</li>
      <li>Work as a software developer</li>
    </ul>
    <p>Please connect with me on <a href="www.google.com" target="_blank" title="Social media">LinkedIn here</a></p>
    <input type="email" name="email" value="" placeholder="Enter your email">
    <button type="button">Join newsletter</button>
    
    <script src="../js/website.js"></script>
  </body>
</html>
